@import url("reset.css");
@import url("common.css");
.toolbar {
  height: 40px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.1);
}

.toolbox {
  border-radius: 20px;
  -webkit-box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.1);
  border: solid 1px rgba(0, 0, 0, 0.1);
}

.main-wrapper {
  background: lightyellow;
  position: relative;
  height: 100vh;
}

.main-wrapper .top-area {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: 10px 0;
  gap: 10px;
}

.main-wrapper .top-area ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 15px;
  gap: 10px;
}

.main-wrapper .top-area ul li {
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-wrapper .top-area ul li button:hover {
  cursor: pointer;
}

.main-wrapper .top-area ul li button img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 15px;
  height: 15px;
}

.main-wrapper .top-area ul li.active {
  border-radius: 15px;
  background-color: rgba(0, 141, 213, 0.1);
}

.main-wrapper .top-area ul li:first-child {
  width: 85px;
}

.main-wrapper .top-area ul.gnb {
  width: 890px;
  background: #fff;
}

.main-wrapper .top-area ul.gnb li:nth-child(2) img {
  content: url(../assets/ic_menu_01@2x.png);
}

.main-wrapper .top-area ul.gnb li:nth-child(2).active img, .main-wrapper .top-area ul.gnb li:nth-child(2):hover img {
  content: url(../assets/ic_menu_01_s@2x.png);
}

.main-wrapper .top-area ul.gnb li:nth-child(3) img {
  content: url(../assets/ic_menu_02@2x.png);
}

.main-wrapper .top-area ul.gnb li:nth-child(3).active img, .main-wrapper .top-area ul.gnb li:nth-child(3):hover img {
  content: url(../assets/ic_menu_02_s@2x.png);
}

.main-wrapper .top-area ul.gnb li:nth-child(4) img {
  content: url(../assets/ic_menu_03@2x.png);
}

.main-wrapper .top-area ul.gnb li:nth-child(4).active img, .main-wrapper .top-area ul.gnb li:nth-child(4):hover img {
  content: url(../assets/ic_menu_03_s@2x.png);
}

.main-wrapper .top-area ul.gnb li:nth-child(5) img {
  content: url(../assets/ic_menu_04@2x.png);
}

.main-wrapper .top-area ul.gnb li:nth-child(5).active img, .main-wrapper .top-area ul.gnb li:nth-child(5):hover img {
  content: url(../assets/ic_menu_04_s@2x.png);
}

.main-wrapper .top-area ul.gnb li:nth-child(6) img {
  content: url(../assets/ic_menu_05@2x.png);
}

.main-wrapper .top-area ul.gnb li:nth-child(6).active img, .main-wrapper .top-area ul.gnb li:nth-child(6):hover img {
  content: url(../assets/ic_menu_05_s@2x.png);
}

.main-wrapper .top-area ul.gnb li:nth-child(7) img {
  content: url(../assets/ic_menu_06@2x.png);
}

.main-wrapper .top-area ul.gnb li:nth-child(7).active img, .main-wrapper .top-area ul.gnb li:nth-child(7):hover img {
  content: url(../assets/ic_menu_06_s@2x.png);
}

.main-wrapper .top-area ul.gnb li:nth-child(8) img {
  content: url(../assets/ic_menu_07@2x.png);
}

.main-wrapper .top-area ul.gnb li:nth-child(8).active img, .main-wrapper .top-area ul.gnb li:nth-child(8):hover img {
  content: url(../assets/ic_menu_07_s@2x.png);
}

.main-wrapper .top-area ul.gnb li:nth-child(9) img {
  content: url(../assets/ic_menu_08@2x.png);
}

.main-wrapper .top-area ul.gnb li:nth-child(9).active img, .main-wrapper .top-area ul.gnb li:nth-child(9):hover img {
  content: url(../assets/ic_menu_08_s@2x.png);
}

.main-wrapper .top-area ul.gnb li:nth-child(10) img {
  content: url(../assets/ic_menu_09@2x.png);
}

.main-wrapper .top-area ul.gnb li:nth-child(10).active img, .main-wrapper .top-area ul.gnb li:nth-child(10):hover img {
  content: url(../assets/ic_menu_09_s@2x.png);
}

.main-wrapper .top-area ul.gnb li:nth-child(11) img {
  content: url(../assets/ic_menu_10@2x.png);
}

.main-wrapper .top-area ul.gnb li:nth-child(11).active img, .main-wrapper .top-area ul.gnb li:nth-child(11):hover img {
  content: url(../assets/ic_menu_10_s@2x.png);
}

.main-wrapper .top-area ul.gnb li:nth-child(12) img {
  content: url(../assets/ic_menu_11@2x.png);
}

.main-wrapper .top-area ul.gnb li:nth-child(12).active img, .main-wrapper .top-area ul.gnb li:nth-child(12):hover img {
  content: url(../assets/ic_menu_11_s@2x.png);
}

.main-wrapper .top-area ul.gnb li:nth-child(13) img {
  content: url(../assets/ic_menu_12@2x.png);
}

.main-wrapper .top-area ul.gnb li:nth-child(13).active img, .main-wrapper .top-area ul.gnb li:nth-child(13):hover img {
  content: url(../assets/ic_menu_12_s@2x.png);
}

.main-wrapper .top-area ul.gnb li:nth-child(14) img {
  content: url(../assets/ic_menu_13@2x.png);
}

.main-wrapper .top-area ul.gnb li:nth-child(14).active img, .main-wrapper .top-area ul.gnb li:nth-child(14):hover img {
  content: url(../assets/ic_menu_13_s@2x.png);
}

.main-wrapper .top-area ul.gnb li:nth-child(15) img {
  content: url(../assets/ic_menu_14@2x.png);
}

.main-wrapper .top-area ul.gnb li:nth-child(15).active img, .main-wrapper .top-area ul.gnb li:nth-child(15):hover img {
  content: url(../assets/ic_menu_14_s@2x.png);
}

.main-wrapper .top-area ul.gnb li:nth-child(16) img {
  content: url(../assets/ic_menu_15@2x.png);
}

.main-wrapper .top-area ul.gnb li:nth-child(16).active img, .main-wrapper .top-area ul.gnb li:nth-child(16):hover img {
  content: url(../assets/ic_menu_15_s@2x.png);
}

.main-wrapper .top-area ul.gnb li:nth-child(17) img {
  content: url(../assets/ic_menu_16@2x.png);
}

.main-wrapper .top-area ul.gnb li:nth-child(17).active img, .main-wrapper .top-area ul.gnb li:nth-child(17):hover img {
  content: url(../assets/ic_menu_16_s@2x.png);
}

.main-wrapper .top-area ul.gnb li:nth-child(18) img {
  content: url(../assets/ic_menu_17@2x.png);
}

.main-wrapper .top-area ul.gnb li:nth-child(18).active img, .main-wrapper .top-area ul.gnb li:nth-child(18):hover img {
  content: url(../assets/ic_menu_17_s@2x.png);
}

.main-wrapper .top-area ul.gnb li:nth-child(19) img {
  content: url(../assets/ic_menu_18@2x.png);
}

.main-wrapper .top-area ul.gnb li:nth-child(19).active img, .main-wrapper .top-area ul.gnb li:nth-child(19):hover img {
  content: url(../assets/ic_menu_18_s@2x.png);
}

.main-wrapper .top-area ul.gnb li:nth-child(20) img {
  content: url(../assets/ic_menu_19@2x.png);
}

.main-wrapper .top-area ul.gnb li:nth-child(20).active img, .main-wrapper .top-area ul.gnb li:nth-child(20):hover img {
  content: url(../assets/ic_menu_19_s@2x.png);
}

.main-wrapper .top-area ul.gnb-nav {
  width: 100px;
  background: #fff;
}

.main-wrapper .top-area ul.gnb-nav li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.main-wrapper .top-area ul.gnb-nav li.prev img {
  content: url(../assets/ic_menu_20@2x.png);
}

.main-wrapper .top-area ul.gnb-nav li.prev.active img, .main-wrapper .top-area ul.gnb-nav li.prev:hover img {
  content: url(../assets/ic_menu_20_s@2x.png);
}

.main-wrapper .top-area ul.gnb-nav li.next img {
  content: url(../assets/ic_menu_21@2x.png);
}

.main-wrapper .top-area ul.gnb-nav li.next.active img, .main-wrapper .top-area ul.gnb-nav li.next:hover img {
  content: url(../assets/ic_menu_21_s@2x.png);
}

.main-wrapper #left-area {
  display: none;
  position: absolute;
  top: 70px;
  left: 10px;
}

.main-wrapper #left-area .left-area-box {
  background: white;
}

.main-wrapper #right-area {
  display: none;
  position: absolute;
  top: 70px;
  right: 10px;
}

.main-wrapper #right-area .right-area-box {
  background: white;
}

.main-wrapper .bottom-bar {
  width: 440px;
  overflow: hidden;
  position: absolute;
  padding: 0 20px;
  bottom: 20px;
  left: calc(50% - 220px);
  z-index: 10;
  background: #fff;
}

.main-wrapper .bottom-bar ul#ticker {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 400px;
}

.main-wrapper .bottom-bar ul#ticker li {
  max-width: 100%;
  min-width: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 40px;
  font-size: 14px;
  color: #d90d0d;
  background-image: url(../assets/ic_error_arrow@2x.png);
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 8px 14px;
  padding-right: 15px;
}

.main-wrapper .bottom-bar ul#ticker li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.main-wrapper .bottom-bar ul#ticker li a span {
  width: 30px;
  height: 17px;
  background-image: url(../assets/ic_error@2x.png);
  background-repeat: no-repeat;
  background-size: 20px 17px;
  font-size: 0;
}

.main-wrapper .map_stage_bg {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  z-index: 9;
}

.main-wrapper .map_stage_bg .map_bg {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: fixed;
}

.modal-search {
  width: 400px;
}

.modal-search .modal-body {
  min-height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-search .modal-body .search-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 14px;
  height: 32px;
  border-radius: 16px;
  border: solid 1px #dfdfdf;
  background-color: #fff;
}

.modal-search .modal-body .search-box .search-option {
  background: transparent;
  width: 100px;
  border-right: 1px solid #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-search .modal-body .search-box .search-option select {
  background-color: transparent;
}

.modal-search .modal-body .search-box .search-input {
  padding: 0 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.modal-search .modal-body .search-box .search-input input[type=text] {
  border: none;
}

.modal-search .modal-body p {
  font-size: 12px;
  font-weight: bold;
  color: #999;
  padding: 0 14px;
  margin-top: 7px;
}

.modal-search .modal-body .result-box {
  display: none;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.modal-search .modal-body .result-box .select-box {
  margin: 10px 0;
}

.modal-search .modal-body .result-box ul.result-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-height: 550px;
  overflow: overlay;
  border-top: 1px solid #ddd;
}

.modal-search .modal-body .result-box ul.result-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  padding: 0 20px;
  border-bottom: 1px solid #ddd;
}

.modal-search .modal-body .result-box ul.result-list li .item-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
}

.modal-search .modal-body .result-box ul.result-list li .item-center {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 15px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
}

.modal-search .modal-body .result-box ul.result-list li .item-center div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.modal-search .modal-body .result-box ul.result-list li .item-center div.item-title {
  font-size: 14px;
  font-weight: 500;
  color: #111;
}

.modal-search .modal-body .result-box ul.result-list li .item-center div.item-detail {
  font-size: 14px;
  font-weight: normal;
  color: #aaa;
}

.modal-search .modal-body .result-box ul.result-list li .item-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px;
  width: 75px;
}

.modal-edit .modal-body .input-box .tab-content .content-info .table-wrapper {
  margin: 10px 0 20px;
}

.modal-edit .modal-body .input-box .tab-content#tab01 .content-info .table-wrapper {
  max-height: 161px;
  overflow: auto;
}

.modal-editStandard, .modal-editBit {
  width: 550px;
}

.modal-editStandard .line_conect_con, .modal-editBit .line_conect_con {
  width: 100%;
  height: 250px;
  border: 1px solid #d6d6d6;
  position: relative;
}

.modal-editStandard .line_conect_con *, .modal-editBit .line_conect_con * {
  position: absolute;
}

.modal-editStandard .line_conect_con span, .modal-editBit .line_conect_con span {
  top: 10px;
  left: 10px;
  color: #666;
  font-size: 12px;
}

.modal-editStandard .line_conect_con .icon-standard, .modal-editBit .line_conect_con .icon-standard {
  width: 20px;
  height: 20px;
  background-size: 100%;
}

.modal-editStandard .line_conect_con .icon-standard:hover, .modal-editBit .line_conect_con .icon-standard:hover {
  border: none;
}

.modal-editStandard .port-txt, .modal-editBit .port-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  color: #666;
}

.modal-editStandard .port-txt span, .modal-editBit .port-txt span {
  width: 7px;
  height: 7px;
  font-size: 0;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5.5px 6px 5.5px 14px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal-editStandard table.port-table:not(:first-child) thead, .modal-editBit table.port-table:not(:first-child) thead {
  border-top: none;
}

.modal-register {
  display: none;
  width: 400px;
}

.modal-connect {
  display: none;
  width: 670px;
}

.modal-business {
  display: none;
  width: 550px;
}

.modal-input {
  display: none;
  width: 300px;
}

.modal-input .input-main-box {
  padding: 14px;
}

.modal-input .input-main-box details summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 14px;
  padding: 0 14px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  height: 32px;
  background-color: #f9f9f9;
  font-size: 12px;
  letter-spacing: -0.3px;
  color: #111;
}

.modal-input .input-main-box details summary img {
  content: url(../assets/ic_filter_arrow_down@2x.png);
  width: 11px;
  height: 7px;
}

.modal-input .input-main-box details[open] summary img {
  content: url(../assets/ic_filter_arrow_up@2x.png);
  width: 11px;
  height: 7px;
}

.modal-setting {
  width: 640px;
}

.modal-setting .level_box_con {
  width: 100%;
  height: 427px;
  margin: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.modal-setting .level_box_con .level_box {
  width: 37px;
  height: 187px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-setting .level_box_con .level_box button {
  font-size: 0;
}

.modal-setting .level_box_con .level_box button.level_top {
  width: 37px;
  height: 37px;
  border: 1px solid #ccc;
  border-width: 0px 0px 1px 0px;
  background: url(../assets/ic-lv-plus.png) no-repeat center center;
}

.modal-setting .level_box_con .level_box button.level_btm {
  width: 37px;
  height: 37px;
  border: 1px solid #ccc;
  border-width: 1px 0px 0px 0px;
  background: url(../assets/ic-lv-minus.png) no-repeat center center;
}

.modal-setting .level_box_con .level_box .level_scroll {
  width: 37px;
  height: 118px;
  text-align: center;
}

.modal-setting .level_box_con .level_box .level_scroll input {
  margin: 0;
  width: 98px;
  height: 37px;
  -webkit-transform-origin: 52px 55px;
          transform-origin: 52px 55px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  accent-color: #082e59;
}

.modal-setting .level_box_con .level_sbox {
  width: 240px;
  height: 427px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.modal-setting .level_box_con .level_sbox .filter_ul {
  width: 100%;
  padding: 10px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-setting .level_box_con .level_sbox .filter_ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  padding: 7px 0;
  border-bottom: 0;
  height: initial;
  min-height: initial;
  margin: 0;
}

.modal-setting .level_box_con .level_sbox .filter_ul li .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 15px;
  gap: 8px;
}

.modal-setting .level_box_con .level_sbox .filter_ul li .line_con {
  width: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 5px 0 0;
}

.modal-setting .level_box_con .level_sbox .filter_ul li .chk_label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 15px;
}

.modal-setting .level_box_con .level_sbox .filter_ul li .icon-pole-01, .modal-setting .level_box_con .level_sbox .filter_ul li .icon-pole-02 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5px 5px 0 0;
  width: 15px;
}

.modal-setting .level_box_con .level_sbox .filter_ul li .label_chk {
  margin-right: 10px;
}

.modal-setting .level_box_con .level_sbox .filter_ul li.smallList {
  margin-left: 30px;
}

.modal-setting .level_box_con .level_sbox .filter_ul li.labelList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=style.css.map */